#faq_content {
  border-bottom: 1px dashed rgb(225, 225, 225);
}

.faq_title {
  border-bottom: 1px dashed rgb(225, 225, 225);
  padding: 15px 10px 15px 10px;
}

.faq_title-q {
  color: rgb(255, 137, 6);
  float: left;
  font-weight: bold;
  margin-right: 15px;
  width: 20px;
}

.faq_title-categoryName {
  float: left;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  width: 80px;
}

.faq_title-title {
  color: rgb(255, 137, 6);
  font-weight: 600;
}

.faq_description {
  border-top: 1px dashed rgb(225, 225, 225);
  padding: 20px 20px 40px 125px !important;
  transition: 1000ms;
}
