.navbar2 {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  height: 50px;
  background-color: rgb(255, 137, 6);
}

.navbar--hidden2 {
  top: -60px;
}

.navbar_btn {
  padding: 10px 13px 20px 13px;
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  color: white;
}
